<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBULm1VHaKDlG9OYbnyT_VyjbfVfgzFbHk</string>
	<key>GCM_SENDER_ID</key>
	<string>1097084260910</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sweeney.InstagramClone</string>
	<key>PROJECT_ID</key>
	<string>instagramclone-c47ed</string>
	<key>STORAGE_BUCKET</key>
	<string>instagramclone-c47ed.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1097084260910:ios:796e3a8c310600505b05bf</string>
</dict>
</plist>